<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:name=".DistribikeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Distribike"
        tools:targetApi="29">
        <activity
            android:name="com.distribike.features.main.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Distribike">

        </activity>
        <activity
            android:name="com.distribike.features.subfeatures.motorcycleform.MotorcycleFormActivity"
            android:exported="true"
            android:theme="@style/Theme.Distribike">

        </activity>
        <activity
            android:name="com.distribike.features.subfeatures.form.main.FormActivity"
            android:exported="true"
            android:theme="@style/Theme.Distribike">

        </activity>
        <activity
            android:name="com.distribike.features.subfeatures.form.scanner.main.CameraActivity"
            android:exported="true"
            android:theme="@style/Theme.Distribike">

        </activity>
        <activity
            android:name="com.distribike.features.subfeatures.PDF.PDFActivity"
            android:exported="true"
            android:theme="@style/Theme.Distribike">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

    </activity>
</application>

    </manifest>